@import "../../common/styles.scss";

.night {
    padding: $--main-Container;
    h1 {
        display: flex;
        justify-content: center;
        font-size: calc(-0.3rem + 8vw);
        font-family: $--Familyfonts-titls;
        color: $--Second-Color;
    }
    .night__feed {
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
            max-width: 400px;

            flex: 1 1;
        }
        .night__feed_content {
            flex: 2 2;
            max-width: 507px;
            color: $--fonts-color;
            font-family: $--Familyfonts-miniFonts;
            font-weight: 500;
            h3 {
                font-size: 2.8rem;
                font-family: $--Familyfonts-LowerTitle;
            }
            p {
                margin-bottom: 22px;
                font-weight: 600;
                line-height: 20px;
                font-size: 12px;
                font-family: $--Familyfonts-miniFonts;
            }
            h6 {
                color: $--Second-Color;
                font-style: italic;
                font-family: $--Familyfonts-miniFonts;
            }
            button {
                text-decoration: none;
                box-shadow: -2px -2px 11px rgba(96, 114, 140, 0.8), 3px 6px 10px rgba(1, 5, 11, 0.8);
                padding: 15px;
                border-radius: 100px;
                color: $--fonts-color;
                font-weight: 900;
                font-size: 12px;
                background: transparent;
                border: 0;
                font-family: $--Familyfonts-miniFonts;
                cursor: pointer;
                position: relative;
                width: 13rem;
                font-weight: 900;
                font-size: 1rem;
            }
        }
    }

    .night__alpha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: $--Margin-sections;
        a {
            text-decoration: none;
            margin-top: 5rem;
            opacity: 0.5;
            transition:  0.8s all linear;

            &:hover {
                opacity: 1;
            }
            span {
               
                
                padding: 1rem 4rem;
                font-size: 2rem;
                font-weight: 900;
                color: $--fonts-color;
                font-family: $--Familyfonts-miniFonts;
                position: relative;
                overflow: hidden;
                transition:  0.4s all linear ;
                border: 13px solid $--Second-Color;    
                &:hover {
                    border: 8px solid $--Second-Color;    

                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .night {
        padding: 0 1rem;
        h1 {
            font-size: 1.8rem;
            margin: 0;
        }
        .night__feed {
            img {
                width: 270px;
                margin-top: 2rem;
            }
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .night__feed_content {
                max-width: 550px;
                text-align: center;
                h3 {
                    font-size: 2rem;
                }
            }
        }
    }
}
