@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&&display=swap");
.roadmap {
  background: url("../../assest/Bike-RiderBgOffset4.4dcfb31f.png") no-repeat;
  background-size: contain;
  background-position: 50%;
  overflow: hidden;
  padding: 0 4rem;
}
.roadmap h2 {
  display: flex;
  justify-content: center;
  font-size: calc(-0.3rem + 5vw);
  font-family: "Roboto", sans-serif;
  color: #d46c68;
}
.roadmap .roadmap__innercontent {
  display: flex;
  align-items: center;
}
.roadmap .roadmap__innercontent div {
  max-width: 400px;
  margin: 0 auto;
  color: #eeeada;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  flex: 1 1;
}
.roadmap .roadmap__innercontent div p {
  margin-bottom: 2rem;
  line-height: 20px;
}
.roadmap .roadmap__phase {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  gap: 4rem;
}
.roadmap .roadmap__phase div {
  max-width: 250px;
  margin: 0 auto;
  color: #eeeada;
}
.roadmap .roadmap__phase div h3 {
  display: flex;
  justify-content: center;
  font-size: calc(-0.3rem + 2.5vw);
  font-family: "Roboto", sans-serif;
  color: #d46c68;
}
.roadmap .roadmap__phase div p {
  text-align: center;
  line-height: 25px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .roadmap {
    background: url("../../assest/Bike-RiderBgOffset4.4dcfb31f.png") no-repeat;
    background-size: contain;
    background-position: 50%;
    overflow: hidden;
    padding: 0 2rem;
  }
  .roadmap h2 {
    display: flex;
    justify-content: center;
    font-size: calc(-0.3rem + 9vw);
    font-family: "Roboto", sans-serif;
    color: #d46c68;
  }
  .roadmap .roadmap__innercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .roadmap .roadmap__innercontent div {
    max-width: 500px;
    color: #eeeada;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    flex: 1 1;
  }
  .roadmap .roadmap__innercontent div p {
    margin-bottom: 2rem;
    line-height: 20px;
  }
  .roadmap .roadmap__phase {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    gap: 4rem;
  }
  .roadmap .roadmap__phase div {
    max-width: 500px;
    margin: 0 auto;
    color: #eeeada;
  }
  .roadmap .roadmap__phase div h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    color: #d46c68;
  }
  .roadmap .roadmap__phase div p {
    text-align: center;
    line-height: 25px;
    font-weight: 600;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .roadmap .roadmap__innercontent {
    flex-direction: column;
  }
  .roadmap .roadmap__innercontent div {
    max-width: 600px;
    margin: 0 auto;
    color: #eeeada;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    flex: 1 1;
  }
  .roadmap .roadmap__innercontent div p {
    margin-bottom: 2rem;
    line-height: 20px;
  }
}