@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&&display=swap');
$--color-Main:#252525;
$--body-color: #212529;
$--Second-Color:#d46c68;
$--fonts-color:#eeeada;
$--main-Container:0 4rem;
$--Familyfonts-titls: 'Roboto', sans-serif;
$--Familyfonts-LowerTitle:Impact,sans-serif;
$--Familyfonts-miniFonts: 'SF Pro Display', sans-serif;
