@import "../../common/styles.scss";
.Faq {
    display: flex;
    border-bottom: 2px solid $--fonts-color;
    border-top: 2px solid $--fonts-color;
    margin-top: 35px;
    .Faq__right {
        position: relative;
        flex: 1;

        background: url("../../assest/driveForYourLife.df10bbab.svg");
        background-size: calc(100% - 200px);
        background-position: center;
        background-repeat: no-repeat;
        h3 {
            position: absolute;
            bottom: 15%;
            left: 50%;
            color: $--Second-Color;
            font-family: $--Familyfonts-LowerTitle;
            font-size: 45px;
        }
    }
    .Faq__leftside {
        flex: 1;
        border-right: 2px solid $--fonts-color;
        .Faq__accordin {
            ul {
                list-style: none;
                margin: 0;

                li {
                    display: flex;
                    margin: 12px 0;
                    flex-direction: column;

                    .Faq__title {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        span {
                            color: $--Second-Color;
                            font-size: 38px;
                        }
                        h3 {
                            margin: 0;
                            color: $--fonts-color;
                            font-size: 28px;
                            font-weight: 800;
                        }
                    }
                    .Faq__info {
                        p {
                            transition: 0.5s ease-in;
                            opacity: 0;
                            margin: 0;
                            color: $--fonts-color;
                            font-family: $--Familyfonts-miniFonts;
                            font-size: 18px;
                            margin: 18px 0;
                        }
                        .show {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .Faq__runtext {
            border-bottom: 2px solid $--fonts-color;

            .Faq-text {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1rem 0;

                h5 {
                    margin: 0;
                    color: $--Second-Color;
                    font-family: $--Familyfonts-LowerTitle;
                    font-size: 51px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .Faq {
        flex-direction: column;

        .Faq__right {
            flex: auto;
            height: 60vh;

            h3 {
                font-size: 30px;
            }
        }
        .Faq__leftside {
            .Faq__accordin {
                padding: 0 18px;
                ul {
                    li {
                        .Faq__title {
                            h3 {
                                font-size: 21px;
                            }
                            span {
                                font-size: 25px;
                            }
                        }
                        .Faq__info {
                            p {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            .Faq__runtext {
                height: 63px;
                .Faq-text {
                    h5 {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1415px) {
    .Faq {
        .Faq__right {
            flex: auto;
            height: 70vh;
            background-size: calc(100% - 50px);
        }
        .Faq__leftside {
            .Faq__runtext {
                height: 63px;
                .Faq-text {
                    h5 {
                        font-size: 29px;
                    }
                }
            }
            .Faq__accordin {
                padding: 0 12px;
                ul {
                    li {
                        .Faq__title {
                            h3 {
                                font-size: 20px;
                            }
                            span {
                                font-size: 25px;
                            }
                        }
                        .Faq__info {
                            p {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            .Faq__runtext {
                height: 63px;
                .Faq-text {
                    h5 {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
